aniso8601==7.0.0
Django==4.0.3 
django-cors-headers==3.11.0
django-filter==21.1
django-model-utils==4.2.0
graphene==2.1.9
graphene-django==2.15.0
graphql-core==2.3.2
graphql-relay==2.0.1
promise==2.3
python-dotenv==0.20.0
PyMySQL==1.0.2
mysqlclient==2.1.0
Rx==1.6.1
singledispatch==3.7.0
six==1.15.0
sqlparse==0.4.2
Pillow==9.0.1
numpy==1.22.3
Faker==12.0.1
